@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

//Colours:
$soft-blue: hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);
$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//Font sizes:
$font-weight: (
    "small" : 300,
    "medium" : 400,
    "large" : 600
);

//Device widths
$desktop-width: 1440px;
$mobile-width: 375px;

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Outfit';
    background-color: $mainBG;
    letter-spacing: 1px;
    line-height: 25px;
}
.grid-ctn{
    display: grid;
    justify-content: center;
    align-content: center ;
}
 .main-card{
    background-color: $cardBG;
    // height: 85vh;
    width: 18.5rem;
    margin: 3rem;
    border-radius: 12px;
    padding: 20px;
    font-size: 18px;
    display: inline-flex;
    flex-direction: column;   
    overflow-wrap: break-word
}
img{
    width: 100%;
    border-radius: 8px;
    height: 40vh;
    object-fit: cover;
}
.head{
    color: $white;
    font-weight: map-get($font-weight,large);
    // padding-bottom: 1.7em;
}
#des-section{
    // padding-bottom: 2.7rem;
    margin-top: .6em;
    // margin-bottom: 2.7rem;
}
.description{
    color: $soft-blue;
    a{
        text-decoration: none;
        color: $white;
    }
}
.flex{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid $line-color;
    .eth-number{
        color: $cyan;
        font-weight: map-get($font-weight,large)
    }
}
hr{
    color: $line-color;
}
#bottom{
    margin-top: .5rem;
    margin-bottom: 1rem;
}
