@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

//Colours:

$soft-blue: hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);
$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//Font sizes:
$font-weight: (
    "small" : 300,
    "medium" : 400,
    "large" : 600
);

//Device widths
$desktop-width: 1440px;
$mobile-width: 375px;

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Outfit';
    background-color: $mainBG;
    letter-spacing: 1px;
    line-height: 25px;
}
 .main-card{
    background-color: $cardBG;
    // margin: 0 50%;
     height: 85vh;
    width: 18.5rem;
    //margin: 2em 30em; 
   margin: 3rem 25rem;
    border-radius: 12px;
    padding: 20px;
    display: inline-grid;
    justify-content: center;
    font-size: 18px;
    
}
img{
    width: 100%;
    // margin: 20px;
    border-radius: 8px;
    height: 40vh;
    object-fit: cover;
}
.head{
    color: $white;
    font-weight: map-get($font-weight,large);
    padding-bottom: .1rem;
    margin: 0;
}
#des-section{
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}
.description{
    color: $soft-blue;
    a{
        text-decoration: none;
        color: $white;
    }
}
.flex{
    display: flex;
    justify-content: space-between;
    // column-gap: 6.7rem;
    // padding-bottom: 20px;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid $line-color;
    .eth-number{
        color: $cyan;
        font-weight: map-get($font-weight,large)
    }
}
hr{
    color: $line-color;
}
#bottom{
    // margin-top: 10px;
    margin-top: .5rem;
}
@media only screen and(max-width:700px){
    .main-card{
        margin: 1em 2.9em;
    }
}